{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "ie >= 11"
                    ]                    
                }     
            }
        ],
        ["minify"]     
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "es6-promise"
    ]
}